/*
 * 320px — 480px: Mobile devices.
 * 481px — 768px: iPads, Tablets.
 * 769px — 1024px: Small screens, laptops.
 * 1025px — 1200px: Desktops, large screens.
 * 1201px and more — Extra large screens, TV.
*/

/* for 320px to 480px */

@media screen and (min-width: 320px) and (max-width: 480px) {
  /* re-usable components */
  .row {
    width: calc(100% - 2rem);
  }

  html {
    font-size: 50%;
  }

  /* navigation bar start */

  .navBar {
    display: none;
  }

  .mobileNavBar {
    display: inherit;
  }

  .logo {
    width: 45%;
  }

  /* navigation bar end */

  /* hero section start */

  .heroTextBox p {
    width: 100%;
  }

  /* hero section end */

  /* what i do section start */

  .WhatIDoSection {
    padding: 10% 0 10% 0;
  }

  .WhatIDoHead p {
    width: 90%;
    padding: 2rem 0rem;
  }

  .WhatIDoBox {
    width: calc(100% - 2rem);
  }

  .WhatIDoBox:nth-child(2),
  .WhatIDoBox:nth-child(3),
  .WhatIDoBox:nth-child(5),
  .WhatIDoBox:nth-child(6) {
    margin-left: 0;
  }

  /* what i do section end */

  /* skill section start */

  .skillHead p {
    width: 90%;
    padding: 2rem 0rem;
  }

  .skillBox {
    width: calc(100% - 2rem);
  }

  /* skill section end */

  /* offer section start */

  .offerSection .row .offerBox:first-child {
    display: none;
  }

  .offerSection .row .offerBox:last-child {
    width: calc(100% - 2rem);
  }

  .offerBox {
    text-align: center;
  }

  .offerBox h3 {
    width: 100%;
  }

  .offerBox h3:after {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  /* offer section end */

  /* service section start */

  .serviceBox {
    width: calc(100% - 2rem);
    text-align: center;
  }

  .serviceBox h3 {
    width: 100%;
  }

  .serviceBox p {
    width: 100%;
  }

  .serviceBox h3:after {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  /* service section end */

  /* testimonial section start */

  .testimonialHead p {
    width: 100%;
    padding: 2rem 0rem;
  }

  /* testimonial section end */

  /* service page start */

  .priceSection {
    padding: 10% 0 0 0;
  }

  .priceBox {
    margin: 2rem 0;
  }

  /* service page end */

  /* contact page start */

  .contactBox {
    padding: 4rem 0rem;
  }

  /* contact page end */

  /* portfolio page start */

  .portfolioSectionHeader p {
    width: 90%;
    padding: 2rem 0rem;
  }

  /* portfolio page end */
}

/* for 481px to 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* re-usable components */
  .row {
    width: calc(100% - 2rem);
  }

  /* navigation bar start */

  .navBar {
    display: none;
  }

  .mobileNavBar {
    display: inherit;
  }

  .logo {
    width: 40%;
  }

  /* navigation bar end */

  /* hero section start */

  .heroTextBox p {
    width: 100%;
  }

  /* hero section end */

  /* what i do section start */

  .WhatIDoSection {
    padding: 10% 0 10% 0;
  }

  .WhatIDoHead p {
    width: 90%;
    padding: 2rem 0rem;
  }

  .WhatIDoBox {
    width: calc(100% - 2rem);
  }

  .WhatIDoBox:nth-child(2),
  .WhatIDoBox:nth-child(3),
  .WhatIDoBox:nth-child(5),
  .WhatIDoBox:nth-child(6) {
    margin-left: 0;
  }

  /* what i do section end */

  /* skill section start */

  .skillHead p {
    width: 90%;
    padding: 2rem 0rem;
  }

  .skillBox {
    width: calc(100% - 2rem);
  }

  /* skill section end */

  /* offer section start */

  .offerSection .row .offerBox:first-child {
    display: none;
  }

  .offerSection .row .offerBox:last-child {
    width: calc(100% - 2rem);
  }

  .offerBox {
    text-align: center;
  }

  .offerBox h3 {
    width: 100%;
  }

  .offerBox h3:after {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  /* offer section end */

  /* service section start */

  .serviceBox {
    width: calc(100% - 2rem);
    text-align: center;
  }

  .serviceBox h3 {
    width: 100%;
  }

  .serviceBox p {
    width: 100%;
  }

  .serviceBox h3:after {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  /* service section end */

  /* testimonial section start */

  .testimonialHead p {
    width: 100%;
    padding: 2rem 0rem;
  }

  /* testimonial section end */

  /* service page start */

  .priceSection {
    padding: 10% 0 0 0;
  }

  .priceBox {
    width: calc(100% - 5rem);
    margin-left: 50% !important;
    margin-bottom: 2rem;
    transform: translateX(-50%);
  }

  /* service page end */

  /* contact page start */

  .contactBox {
    width: calc(100% - 10rem);
    margin-left: 50% !important;
    transform: translateX(-50%);
    padding: 4rem 0rem;
  }

  /* contact page end */

  /* portfolio page start */

  .portfolioSectionHeader p {
    width: 100%;
    padding: 2rem 0rem;
  }

  /* portfolio page end */
}

/* for 769px to 1024px */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* re-usable components start */
  .row {
    width: calc(100% - 2rem);
  }

  /* re-usable components end */

  /* navigation section start */

  .navBar {
    display: none;
  }

  .mobileNavBar {
    display: inherit;
  }

  .mobileMenu {
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo {
    width: 35%;
  }

  /* navigation section end */

  /* offer section start */

  .offerBox h3:after {
    top: 107%;
  }

  /* offer section end */

  /* service page start */

  .priceBox {
    margin-bottom: 2rem;
    width: calc(100% - 15rem);
    margin-left: 50% !important;
    transform: translateX(-50%);
  }

  /* service page end */

  /* contact page start */

  .contactBox {
    padding: 4rem 0rem;
  }

  /* contact page end */

  /* portfolio page start */

  .portfolioSectionHeader p {
    width: 100%;
    padding: 2rem 0rem;
  }

  /* portfolio page end */
}

/* for 1025px to 1200px */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* all are fit to screen */
}

/* for 1201px to up */

@media screen and (max-width: 1201px) {
  /* all are fit to screen */
}
