/* 
* extra large: 1140px
* large: 960px
* medium: 720px
* small: 540px
* medium small: 450px
* extra small: 240px
*/

/* for max width: 1140px */

@media screen and (max-width: 1140px) {
  /* Noting else. all elements are fit to screen. */
}

/* for max width: 960px */

@media screen and (max-width: 960px) {
  html {
    font-size: 58.5%;
  }
}

/* for max width: 720px */

@media screen and (max-width: 720px) {
  html {
    font-size: 60%;
  }

  .row {
    width: 64rem;
  }

  h2:after {
    top: 140%;
  }

  .navBar {
    display: none;
  }

  .mobileNavBar {
    display: inherit;
  }

  .logo {
    width: 35%;
  }

  .heroTextBox p,
  .WhatIDoHead p,
  .skillHead p,
  .testimonialHead p {
    width: 75%;
  }

  .WhatIDoBox {
    width: 49.2%;
  }

  .WhatIDoDes .WhatIDoBox:nth-child(5) {
    margin-left: 0;
  }

  .offerBox h3 {
    width: 75%;
    font-size: 2.3rem;
  }

  .offerBox h3:after {
    top: 110%;
  }

  .offerBox p {
    margin: 10% 0 5% 0;
  }

  .serviceBox {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }

  .serviceBox h3,
  .serviceBox p {
    width: 90%;
    margin: 6% auto;
  }

  .serviceBox h3:after {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .serviceBox .serviceImageBox img {
    max-width: 85%;
    margin-right: 4%;
  }
}

/* for max width: 540px */

@media screen and (max-width: 540px) {
  html {
    font-size: 52.5%;
  }

  .row {
    width: 60rem;
  }

  .navBar {
    display: none;
  }

  .mobileNavBar {
    display: inherit;
  }

  .logo {
    width: 30%;
  }

  .heroTextBox p,
  .WhatIDoHead p,
  .skillHead p,
  .testimonialHead p {
    width: 75%;
  }

  .WhatIDoBox {
    width: 49.2%;
  }

  .WhatIDoDes .WhatIDoBox:nth-child(5) {
    margin-left: 0;
  }

  .offerBox h3 {
    width: 75%;
    font-size: 2.3rem;
  }

  .offerBox h3:after {
    top: 110%;
  }

  .offerBox p {
    margin: 10% 0 5% 0;
  }

  .serviceBox {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }

  .serviceBox h3,
  .serviceBox p {
    width: 100%;
  }

  .serviceBox h3:after {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .serviceBox .serviceImageBox img {
    max-width: 85%;
    margin-right: 4%;
  }
}

/* for max width: 450px */

@media screen and (max-width: 450px) {
  html {
    font-size: 45.5%;
  }

  .row {
    width: 60rem;
  }

  .navBar {
    display: none;
  }

  .mobileNavBar {
    display: inherit;
  }

  .logo {
    width: 30%;
  }

  .heroTextBox p,
  .WhatIDoHead p,
  .skillHead p,
  .testimonialHead p {
    width: 75%;
  }

  .WhatIDoBox {
    width: 49.2%;
  }

  .WhatIDoDes .WhatIDoBox:nth-child(5) {
    margin-left: 0;
  }

  .offerBox {
    text-align: center;
  }

  .offerBox:last-child {
    padding: 10% 0;
  }

  .offerBox:first-child {
    padding: 0 0;
  }

  .offerBox h3 {
    width: 90%;
    font-size: 2.3rem;
    margin: auto;
  }

  .offerBox h3:after {
    top: 180%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .offerBox p {
    width: 85%;
    margin: 10% auto 5% auto;
  }

  .serviceBox {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }

  .serviceBox h3,
  .serviceBox p {
    width: 100%;
  }

  .serviceBox h3:after {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .serviceBox .serviceImageBox img {
    max-width: 70%;
    margin-right: 0;
  }
}

/* for max width: 240px */

@media screen and (max-width: 240px) {
  html {
    font-size: 45.5%;
  }

  .row {
    width: 32rem;
  }

  p {
    font-size: 1.6rem !important;
  }

  .btn {
    border: 0.3rem solid var(--base-color);
  }

  .logo {
    width: 60%;
  }

  .ah-headline {
    font-size: 2.4rem;
  }

  .heroTextBox p,
  .WhatIDoHead p,
  .skillHead p,
  .testimonialHead p {
    width: 90%;
  }

  .heroTextBox p {
    margin: 10% auto;
  }

  .WhatIDoHead p {
    margin: 10% auto;
  }

  .WhatIDoSection {
    padding: 15% 0% 10% 0%;
  }

  .WhatIDoBox {
    width: 100%;
    margin: 5% auto;
  }

  .skillHead p {
    margin: 10% auto;
  }

  .skillBox {
    width: 85%;
  }

  .offerBox h3:after {
    top: 128%;
  }

  .offerBox p {
    margin: 15% auto 10% auto;
  }

  .serviceBox p {
    margin: 10% auto;
  }

  .serviceBox h3:after {
    top: 135%;
  }

  .serviceBox .serviceImageBox img {
    max-width: 80%;
    margin: 2% auto;
  }

  .testimonialHead p {
    margin: 10% auto 0% auto;
  }
}
