// Colors
$primary_color: #1dd881;
$secondary_color: #51ffae;
$font_color: #ffffff;
$background_color: #033333;
$box_background_color: #1a5555;

// Typography
$heading_font_family: "Montserrat Alternates", sans-serif;
$para_font_family: "Work Sans", sans-serif;
$html_font_size: 62.5%;

// Media Queries
$xsmall: (
    "min": 320px,
    "max": 480px,
);
$small: (
    "min": 481px,
    "max": 768px,
);
$medium: (
    "min": 769px,
    "max": 1024px,
);
$large: (
    "min": 1025px,
    "max": 1200px,
);
$xlarge: (
    "min": 1201px,
    "max": 1400px,
);
$row-width-gap: 6rem;
